/* Custom font import */


/*
@font-face {
    font-family: 'Sud';
    src: url('../fonts/Sud.woff') format('woff');  
    font-weight: normal;
    font-style: normal;
}
*/

/* General button styles, adjust color and padding */
.btn.btn1-style {
    background-color: #eb4a1b; /* Orange color for button */
    color: white; /* Makes the font color white */
}

.btn.btn2-style {
    background-color: darkblue; /* Dark blue color for button */
    color: white; /* Makes the font color white */
}

/* Button styles */
.btn-prev {
    background-color: #20B2AA; 
    color: white;
}

.btn-next {
    background-color: #eb4a1b;
    color: white;
}

.btn-back {
    background-color: #4682B4;
    color: white; /* Black text for contrast */
}

/* Ensure the buttons stand out */
.btn-prev, .btn-next, .btn-back {
    padding: 10px 15px; /* Comfortable padding */
    border-radius: 5px; /* Rounded corners for a modern look */
    margin: 0 5px; /* Spacing between buttons */
}

/* Hover effects for better user experience */
.btn-prev:hover, .btn-next:hover, .btn-back:hover {
    opacity: 0.9; /* Slight transparency on hover */
}


/* Background color for the body */
body {
    background-color: #FF6347; /* Tomato red background color */
    /*font-family: 'Sud', sans-serif; /* Applies the custom font */
}

/* Additional classes for colored borders, modify as needed */
.border-color-1 {
    background-color: #FF4500; /* Orange red color */
    padding: 10px;
}

.border-color-2 {
    background-color: #20B2AA; /* Light sea green color */
    padding: 10px;
}

.border-color-3 {
    background-color: #FFD700; /* Gold color */
    padding: 10px;
}

.border-color-4 {
    background-color: #4682B4; /* Steel blue color */
    padding: 10px;
}

.border-color-5 {
    background-color: #FFA07A; /* Light salmon color */
    padding: 10px;
}

/* Table Styles */
.table-custom {
    width: 100%; /* Full-width */
    background-color: transparent; /* Keeps background transparent */
    color: #333; /* Dark grey for text for better readability */
    border-collapse: separate; /* Necessary for border spacing and radius */
    border-spacing: 0; /* Removes default spacing between borders */
}

.table-custom thead {
    background-color: #f8e8c1; /* Soft cream for header */
}

.table-custom thead th {
    padding: 12px; /* Adequate padding for table headers */
    border-bottom: 2px solid #f1d18a; /* Slightly darker cream for a subtle separation */
    border-top-left-radius: 10px; /* Rounds the top left corner */
    border-top-right-radius: 10px; /* Rounds the top right corner */
}

.table-custom tbody tr {
    background-color: #f9f1e0; /* Light cream for table rows */
}

.table-custom tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Rounds the bottom left corner of the last row */
}

.table-custom tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Rounds the bottom right corner of the last row */
}

.table-custom th, .table-custom td {
    border: 1px solid #f1d18a; /* Soft cream border for gentle contrast */
    padding: 8px; /* Comfortable padding inside cells */
    vertical-align: middle; /* Centers content vertically */
}

/* Navbar toggler styles */
.navbar-toggler {
    border-color: #ffc107; /* Changing the border color to a yellow shade */
    background-color: #ffc107; /* Optional: to make the entire button yellow */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Make the links bold */
.navbar .nav-link {
    font-weight: bold; /* Making text bold */
    color: yellow !important; /* Ensuring the color is yellow */
}

/* Responsive table styling */
@media (max-width: 768px) {
    .table-responsive {
        overflow-x: auto;  /* Enables horizontal scrolling */
        margin: 15px -15px; /* Optional: Adjusts margin to align with your design */
    }
}


@media (max-width: 768px) {
    .container.custom-container {
        padding: 0.5rem; /* Reduced padding for mobile devices */
    }
}


@media (max-width: 768px) {
    .border-color-1, .border-color-2, .border-color-3, .border-color-4, .border-color-5 {
        padding: 5px;  
    }

    .btn.btn1-style, .btn.btn2-style {
        padding: 10px 5px; 
    }
}




